<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- http://docs.spring.io/spring-boot/docs/current/reference/html/boot-features-logging.html -->

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProfile name="local">
        <include resource="logback/logback-warn.xml"/>
        <include resource="logback/logback-error.xml"/>
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="ERROR" />
            <appender-ref ref="WARN" />
        </root>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="ASYNC_APPLICATION_LOG_FILE"/>
        </root>
    </springProfile>

    <springProfile name="staging">
        <root level="INFO">
            <appender-ref ref="ASYNC_APPLICATION_LOG_FILE"/>
        </root>
    </springProfile>

    <springProfile name="production">
        <root level="INFO">
            <appender-ref ref="ASYNC_APPLICATION_LOG_FILE"/>
        </root>
    </springProfile>

</configuration>
