<appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">

    <file>./log/error.log</file>

    <!-- ERRORレベル以上のログのみを出力するためのフィルタ -->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
        <level>ERROR</level>
    </filter>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <fileNamePattern>./log/logbacktest/error.log..%d{yyyy-MM-dd}
        </fileNamePattern>
        <maxHistory>14</maxHistory>
    </rollingPolicy>

    <encoder>
        <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%p] [%t] [%logger{35}:%line]%msg%n</pattern>
    </encoder>

</appender>
<!-- ファイルには出力しないでfirehoseとかに出す-->
<!-- controller のログも必要　アクセスログとして-->
